@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&subset=cyrillic,cyrillic-ext');

body {
    font-family: 'Montserrat', sans-serif;
}
.column {
    margin-top: 25%;
}
.container > h1 {
    margin-top: 5%;
}
h1 a {
    font-size: 2rem;
    color: #999;
    letter-spacing: normal;
    text-decoration: none;
}
textarea {
    height: 400px;
}

h2, h5 {
    margin-top: 50px;
}
.function {
    font-size: 105%;
}
.type {
    color: gray;
}
.returns {
    color: gray;
}
.optional {
    font-size: 90%;
}